
            
            h1 {
                text-align: center;
                color: mediumturquoise;
            }
            
            .container {
                text-align: center;
                line-height: 100px;
            }
            
            .bar {
                width: 80%;
                height: 50px;
                border-radius: 30px;
                border: 3px solid mediumturquoise;
                font-size: 30px;
                padding-left: 30px;
            }
            
            .bar:hover {
                box-shadow: 5px 5px 5px 5px rgb(192, 192, 192);
                transition: 1s;
            }
            
            #search {
                font-size: 30px;
                width: 103px;
                height: 57px;
                margin-left: -105px;
                background-color: mediumturquoise;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border: none;
                cursor: pointer;
            }
            
            #search:hover {
                background-color: rgb(47, 136, 133);
                color: white;
            }
            
            
            /* 搜尋結果的CSS */
            
            .ui-widget {
                font-size: 20px;
                list-style: none;
                transition: 1s;
                background-color: mediumturquoise;
                width: 50%;
                opacity: 0.7;
                border-radius: 30px;
            }
            
            .ui-menu-item {
                padding: 10px;
                width: 95%;
                transition: 0.5s;
            }
            
            .ui-menu-item:hover {
                background-color: rgb(27, 103, 100);
                color: white;
            }
            
            .ui-helper-hidden-accessible {
                display: none;
            }

      